/* Lasya Reddy, Mekala (G01473483) */

/* This page consists of all the styling required for the survey form page */
.page2,html{
    background-color: beige;
    border-left: 30px solid #006633; 
    border-right: 30px solid #006633;
    border-bottom: 20px solid #006633;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.heading > h1{
    margin:2% auto;;
    font-size: 50px;
    font-family:'Times New Roman';
    text-align: center;
    font-weight: bold;
    color:#006633;   
    border:1px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    padding: 10px;

}
.surveyform{
    margin-left:3%;
    font-size: 25px;
    font-weight: bold;
    font-family:'Times New Roman';
}
.required:after{
    content:" *";
    font-size: 18px;
    color: red;
}

/* Styling for submit and reset buttons */
.btn.btn-warning, .btn.btn-success{
    font-family:'Times New Roman';
    font-weight: bold;
    font-size: 35px;
}

.btn.btn-warning:hover {
    background-color:#556b2f;
}
.btn.btn-success:hover {
    background-color:goldenrod;
}